<!DOCTYPE html>
<html>
   <head>
      <style>
         body {
          color: rgb(10, 10, 10); font: normal 10px Verdana, Arial, sans-serif;
         }
         table, th, td {
         border: 3px solid black;
         border-collapse: collapse;
         font-size: 14px;
         }
      </style>
   </head>
   <body>
      <table>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Flavor</th>
            <th>Failed Modules</th>
            <th>BugRefs</th>
         </tr>
         {% for item in items %}
         <tr class={{item.result}}>
            <td><a href="{{baseurl}}{{item.id}}">{{item.id}}</a></td>
            <td>{{item.name}}</td>
            <td>{{item.flavor}}</td>
            <td>{{item.failed_modules}}</td>
            <td>{% if item.bugrefs %}
            {% for b1 in item.bugrefs %}
               <a href="{{ b1.href }}">{{ b1.name }}</a>
            {% endfor %}{% endif %}</td>
         </tr>
         {% endfor %}
      </table>

      <p> Email sent from autobot.qa.suse.de by script
      <a href="https://github.com/asmorodskyi/scripts/blob/master/openqa_notify.py">openqa_notify.py</a>
 triggered by cron job</p>
   </body>
</html>
