<!DOCTYPE html>
<html>
   <head>
      <style>
         .passed{color: rgb(32, 191, 13);font-family:cursive; font-weight: bold;}
         .failed{color: rgb(252, 3, 3);font-family:cursive; font-weight: bold;font-size: 16px;}
         body {
          color: rgb(10, 10, 10);font-family:cursive; font-weight: bold;font-size: 16px;
         }
         table, th, td {
         border: 3px solid black;
         border-collapse: collapse;
         font-size: 14px;
         }
      </style>
   </head>
   <body>
      <p>Build={{build}}, Group = {{group}}</p>
      <table>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Flavor</th>
 {% if pc %}<th>Instance Type</th>{% endif %}
            <th>Result</th>
            <th>Failed Modules</th>
            <th>BugRefs</th>
         </tr>
         {% for item in items %}
         <tr class={{item.result}}>
            <td><a href="{{baseurl}}{{item.id}}">{{item.id}}</a></td>
            <td>{{item.name}}</td>
            <td>{{item.flavor}}</td>
 {% if pc %}<td>{{item.instance_type}}</td> {% endif %}
            <td>{{item.result}}</td>
            <td>{{item.failed_modules}}</td>
            <td>{% if item.bugrefs %}
            {% for b1 in item.bugrefs %}
               <a href="{{ b1.href }}">{{ b1.name }}</a>
            {% endfor %}{% endif %}</td>
         </tr>
         {% endfor %}
      </table>
   </body>
</html>
