<!DOCTYPE html>
<html>
   <head>
      <style>
         .passed{color: rgb(32, 191, 13);font-family:cursive; font-weight: bold;}
         .failed{color: rgb(252, 3, 3);font-family:cursive; font-weight: bold;font-size: 16px;}
         body {
          color: rgb(10, 10, 10);font-family:cursive; font-weight: bold;font-size: 16px;
         }
         table, th, td {
         border: 3px solid black;
         border-collapse: collapse;
         font-size: 14px;
         }
      </style>
   </head>
   <body>
      <p>Build={{build}}, Flavor = {{flavor}}, Group = {{group}}</p>
      <table>
         <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Instance Type</th>
            <th>Result</th>
            <th>HDD</th>
            <th>Failed Modules</th>
            <th>BugRefs</th>
         </tr>
         {% for item in items %}
         <tr {% if item.result is equalto 'failed'%} class="failed" {% else %} class="passed" {% endif %}>
            <td><a href="{{baseurl}}{{item.id}}">{{item.id}}</a></td>
            <td>{{item.name}}</td>
            <td>{{item.instance_type}}</td>
            <td>{{item.result}}</td>
            <td>{{item.hdd}}</td>
            <td>{{item.failed_modules}}</td>
            <td>{{item.bugrefs}}</td>
         </tr>
         {% endfor %}
      </table>
   </body>
</html>
